In [320]:
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [321]:
conn = sqlite3.connect('despesas.db')
cursor = conn.cursor()

In [322]:
f = io.open('despesas.sql', 'r', encoding='UTF-8')
sql = f.read()
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

In [ ]:
ANS = []

In [ ]:
## Seção 4.1
questao = 1

query = """
SELECT COD_SUBFUNCAO, NOME_SUBFUNCAO
FROM SUBFUNCAO
WHERE COD_SUBFUNCAO IN
(SELECT COD_SUBFUNCAO
FROM DETALHAMENTO_FUNCAO
WHERE COD_FUNCAO =
(SELECT COD_FUNCAO
FROM DETALHAMENTO_FUNCAO
GROUP BY COD_FUNCAO
ORDER BY COUNT(*) DESC LIMIT 1))
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

In [323]:
## Seção 4.1
questao = 2
query = """
SELECT NOME_FUNCAO, NOME_SUBFUNCAO, VALOR_DESPESA
FROM DESPESA_PUBLICA AS DP
INNER JOIN DETALHAMENTO_FUNCAO AS DF
ON DF.COD_DETALHAMENTO = DP.COD_DETALHAMENTO
INNER JOIN SUBFUNCAO AS S
ON S.COD_SUBFUNCAO = DF.COD_SUBFUNCAO
INNER JOIN FUNCAO AS F
ON F.COD_FUNCAO = DF.COD_FUNCAO
WHERE VALOR_DESPESA > 200000 
GROUP BY DP.COD_DETALHAMENTO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

          NOME_FUNCAO           NOME_SUBFUNCAO  VALOR_DESPESA
0  Assistência social  Assistência comunitária      219668.07
1            Educação          Educação básica      334126.70

In [324]:
## Seção 4.1
questao = 3
query = """
SELECT D.COD_ORGAO, O.NOME_ORGAO, SUM(VALOR_DESPESA)
FROM DESPESA_PUBLICA AS D
INNER JOIN ORGAO AS O
ON O.COD_ORGAO = D.COD_ORGAO
GROUP BY O.COD_ORGAO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

,COD_ORGAO,NOME_ORGAO,SUM(VALOR_DESPESA)
0,20000,Presidência da República,0.00
1,22000,"Ministério da Agricultura, Pecuária e Abastec",90836.51
2,24000,"Ministério da Ciência, Tecnologia, Inovações",0.00
3,25000,Ministério da Fazenda,0.00
4,26000,Ministério da Educação,64007.82
5,30000,Ministério da Justiça e Segurança Pública,0.00
6,35000,Ministério das Relações Exteriores,0.00
7,36000,Ministério da Saúde,50971.19
8,39000,"Ministério dos Transportes, Portos e Aviação",0.00
9,44000,Ministério do Meio Ambiente,0.00
10,52000,Ministério da Defesa,353376.70
11,53000,Ministério da Integração Nacional,0.00
12,55000,Ministério do Desenvolvimento Social,278586.35
13,81000,Ministério dos Direitos Humanos,0.00

In [325]:
## Seção 4.1
questao = 6

query = """
SELECT NOME_FUNCAO, NOME_SUBFUNCAO, SUM(VALOR_DESPESA)
FROM DETALHAMENTO_FUNCAO AS DF
INNER JOIN DESPESA_PUBLICA AS DP
ON DP.COD_DETALHAMENTO = DF.COD_DETALHAMENTO
INNER JOIN FUNCAO AS F
ON DF.COD_FUNCAO = F.COD_FUNCAO
INNER JOIN SUBFUNCAO AS S
ON DF.COD_SUBFUNCAO = S.COD_SUBFUNCAO
WHERE DP.COD_DETALHAMENTO IN
(SELECT COD_DETALHAMENTO
FROM DESPESA_PUBLICA AS DP
WHERE MES_DESPESA BETWEEN 7 AND 9
AND ANO_DESPESA = 2018
AND COD_PROGRAMA_GOVERNO =
(SELECT COD_PROGRAMA_GOVERNO
FROM PROGRAMA_GOVERNO
WHERE NOME_PROGRAMA_GOVERNO = "MAIS MEDICOS"))
GROUP BY DP.COD_DETALHAMENTO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

       NOME_FUNCAO                         NOME_SUBFUNCAO  SUM(VALOR_DESPESA)
0  Defesa nacional                    Administração geral                   0
1            Saúde                         Atenção básica               12000
2         Educação  Assistência hospitalar e ambulatorial                   0
3         Educação                        Ensino superior                2400

In [326]:
## Seção 4.1
questao = 7

query = """
SELECT NOME_ORGAO,
COUNT(DISTINCT COD_PROGRAMA_GOVERNO) AS NUMERO_DE_PROGRAMAS
FROM ORGAO AS O
INNER JOIN DESPESA_PUBLICA AS DP
ON O.COD_ORGAO = DP.COD_ORGAO
WHERE DP.VALOR_DESPESA > 0
GROUP BY NOME_ORGAO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

                                      NOME_ORGAO  NUMERO_DE_PROGRAMAS
0  Ministério da Agricultura, Pecuária e Abastec                    2
1                           Ministério da Defesa                    2
2                         Ministério da Educação                    4
3                            Ministério da Saúde                    2
4           Ministério do Desenvolvimento Social                    1

In [327]:
## Seção 4.1
questao = 8

query = """
SELECT NOME_PROGRAMA_GOVERNO, NOME_SUBFUNCAO, SOMA
FROM 
(SELECT NOME_PROGRAMA_GOVERNO, COD_DETALHAMENTO, SUM(VALOR_DESPESA) AS SOMA
FROM DESPESA_PUBLICA AS DP
INNER JOIN PROGRAMA_GOVERNO AS P
ON P.COD_PROGRAMA_GOVERNO = DP.COD_PROGRAMA_GOVERNO
GROUP BY P.COD_PROGRAMA_GOVERNO) AS P
INNER JOIN DETALHAMENTO_FUNCAO AS DF
ON DF.COD_DETALHAMENTO = P.COD_DETALHAMENTO
INNER JOIN SUBFUNCAO AS S
ON S.COD_SUBFUNCAO = DF.COD_SUBFUNCAO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

,NOME_PROGRAMA_GOVERNO,NOME_SUBFUNCAO,SOMA
0,VIVER SEM LIMITE,Atenção básica,0.00
1,SOS EMERGENCIA,Assistência hospitalar e ambulatorial,0.00
2,MELHOR EM CASA,Assistência hospitalar e ambulatorial,0.00
3,UBS,Atenção básica,0.00
4,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...",Assistência hospitalar e ambulatorial,0.00
5,REDE CEGONHA,Assistência hospitalar e ambulatorial,1210.00
6,CONTROLE DO CANCER,Assistência hospitalar e ambulatorial,38971.19
7,CIENCIA SEM FRONTEIRAS,Desenvolvimento científico,0.00
8,CRIMINALIDADE VIOLENTA,Policiamento,0.00
9,ENEM,Educação básica,334262.06
10,PROVA BRASIL,Educação básica,0.00
11,PRONATEC,Ensino profissional,60262.46
12,GESTAO AEROPORTUARIA,Administração geral,0.00
13,DESASTRES NATURAIS,Desenvolvimento científico,0.00
14,CADEIAS PUBLICAS,Custódia e reintegração social,0.00
15,OLIMPIADAS,Informação e inteligência,0.00
16,SINESP,Policiamento,0.00
17,TERRITORIOS DA CIDADANIA,Extensão rural,0.00
18,"CRACK, E POSSIVEL VENCER","Direitos individuais, coletivos e difusos",0.00
19,BRASIL SEM MISERIA,Tecnologia da informação,387175.60
20,REGULARIZACAO FUNDIARIA,Normatização e fiscalização,1497.26
21,SATELITE (TELEBRAS),Desenvolvimento tecnológico e engenharia,0.00
22,ENAFRON,Policiamento,0.00
23,VIOLENCIA NO TRANSITO,Policiamento,0.00
24,SEGURO RURAL PRIVADO,Promoção da produção agropecuária,0.00
25,PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...,Atenção básica,0.00
26,MAIS MEDICOS,Atenção básica,14400.00

In [328]:
## Seção 4.2
questao = 12

query = """
SELECT NOME_FUNCAO, NOME_SUBFUNCAO
FROM FUNCAO AS F
INNER JOIN DETALHAMENTO_FUNCAO AS DF
ON DF.COD_FUNCAO = F.COD_FUNCAO
INNER JOIN SUBFUNCAO AS S
ON DF.COD_SUBFUNCAO = S.COD_SUBFUNCAO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial à justiça                                Comunicação social
1         Defesa nacional                               Administração geral
2         Defesa nacional                                  Defesa terrestre
3       Segurança pública                               Administração geral
4       Segurança pública                                      Policiamento
5       Segurança pública                                      Defesa civil
6       Segurança pública                         Informação e inteligência
7      Assistência social                       Normatização e fiscalização
8      Assistência social                          Tecnologia da informação
9      Assistência social                                Comunicação social
10     Assistência social                           Assistência comunitária
11     Assistência social                            Alimentação e nutrição
12     Assistência social                                 Educação infantil
13     Assistência social                           Saneamento básico rural
14                  Saúde                      Formação de recursos humanos
15                  Saúde                                    Atenção básica
16                  Saúde             Assistência hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educação             Assistência hospitalar e ambulatorial
19               Educação                               Ensino profissional
20               Educação                                   Ensino superior
21               Educação                                   Educação básica
22               Educação             Transferências para a educação básica
23  Direitos da cidadania            Assistência ao portador de deficiência
24  Direitos da cidadania                    Custódia e reintegração social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistência comunitária
27       Gestão ambiental               Preservação e conservação ambiental
28       Gestão ambiental                                 Recursos hídricos
29   Ciência e Tecnologia                        Desenvolvimento científico
30   Ciência e Tecnologia          Desenvolvimento tecnológico e engenharia
31            Agricultura  Difusão do conhecimento científico e tecnológico
32            Agricultura                 Promoção da produção agropecuária
33    Organização agrária                       Normatização e fiscalização
34    Organização agrária                           Ordenamento territorial
35    Organização agrária                                    Extensão rural
36    Organização agrária                                   Reforma agrária
37              Indústria                                Promoção comercial
38             Transporte                               Administração geral
39     Encargos especiais                         Outros encargos especiais

In [329]:
## Seção 4.2
questao = 13

query = """
SELECT DISTINCT MODALIDADE_DESPESA, VALOR_DESPESA, NOME_PROGRAMA_GOVERNO
FROM PROGRAMA_GOVERNO AS P
INNER JOIN
(SELECT *
FROM DESPESA_PUBLICA
WHERE MODALIDADE_DESPESA = "Reserva de Contingência") AS DP
ON DP.COD_PROGRAMA_GOVERNO = P.COD_PROGRAMA_GOVERNO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

,MODALIDADE_DESPESA,VALOR_DESPESA,NOME_PROGRAMA_GOVERNO
0,Reserva de Contingência,0.00,BRASIL SEM MISERIA
1,Reserva de Contingência,0.00,VIOLENCIA NO TRANSITO
2,Reserva de Contingência,0.00,TERRITORIOS DA CIDADANIA
3,Reserva de Contingência,8215.70,BRASIL SEM MISERIA
4,Reserva de Contingência,3.42,BRASIL SEM MISERIA
5,Reserva de Contingência,81120.13,BRASIL SEM MISERIA
6,Reserva de Contingência,0.00,REGULARIZACAO FUNDIARIA
7,Reserva de Contingência,1497.26,REGULARIZACAO FUNDIARIA
8,Reserva de Contingência,0.00,SEGURO RURAL PRIVADO
9,Reserva de Contingência,0.00,VIVER SEM LIMITE
10,Reserva de Contingência,0.00,CIENCIA SEM FRONTEIRAS
11,Reserva de Contingência,0.00,GESTAO AEROPORTUARIA
12,Reserva de Contingência,0.00,DESASTRES NATURAIS
13,Reserva de Contingência,0.00,SATELITE (TELEBRAS)
14,Reserva de Contingência,0.00,MELHOR EM CASA
15,Reserva de Contingência,1210.00,REDE CEGONHA
16,Reserva de Contingência,0.00,REDE CEGONHA
17,Reserva de Contingência,0.00,CONTROLE DO CANCER
18,Reserva de Contingência,0.00,ENEM
19,Reserva de Contingência,135.36,ENEM
20,Reserva de Contingência,0.00,PROVA BRASIL
21,Reserva de Contingência,2000.00,PRONATEC
22,Reserva de Contingência,0.00,PRONATEC
23,Reserva de Contingência,18178.00,PRONATEC
24,Reserva de Contingência,28073.08,PRONATEC
25,Reserva de Contingência,385.38,PRONATEC
26,Reserva de Contingência,5900.00,PRONATEC
27,Reserva de Contingência,0.00,CADEIAS PUBLICAS
28,Reserva de Contingência,0.00,"CRACK, E POSSIVEL VENCER"
29,Reserva de Contingência,0.00,MAIS MEDICOS
30,Reserva de Contingência,2400.00,MAIS MEDICOS
31,Reserva de Contingência,0.00,CRIMINALIDADE VIOLENTA
32,Reserva de Contingência,0.00,OLIMPIADAS
33,Reserva de Contingência,0.00,SINESP
34,Reserva de Contingência,0.00,ENAFRON
35,Reserva de Contingência,0.00,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL..."
36,Reserva de Contingência,38971.19,CONTROLE DO CANCER
37,Reserva de Contingência,11000.00,MAIS MEDICOS
38,Reserva de Contingência,1000.00,MAIS MEDICOS
39,Reserva de Contingência,334126.70,ENEM
40,Reserva de Contingência,19250.00,BRASIL SEM MISERIA
41,Reserva de Contingência,58918.28,BRASIL SEM MISERIA

In [330]:
## Seção 4.2
questao = 14

query = """
SELECT DISTINCT VALOR_DESPESA, NOME_ORGAO
FROM DESPESA_PUBLICA AS DP
INNER JOIN
(SELECT * FROM ORGAO
WHERE NOME_ORGAO = "Ministério da Fazenda") AS O
ON O.COD_ORGAO = DP.COD_ORGAO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

   VALOR_DESPESA             NOME_ORGAO
0              0  Ministério da Fazenda

In [331]:
## Seção 4.2
questao = 15

query = """
SELECT DISTINCT NOME_PROGRAMA_GOVERNO, VALOR_DESPESA
FROM DESPESA_PUBLICA AS DP
INNER JOIN
(SELECT * FROM ORGAO
WHERE NOME_ORGAO = "Ministério da Saúde") AS O
ON O.COD_ORGAO = DP.COD_ORGAO
INNER JOIN PROGRAMA_GOVERNO AS P
ON P.COD_PROGRAMA_GOVERNO = DP.COD_PROGRAMA_GOVERNO
"""

df = pd.read_sql_query(query, conn)
display(df)
ANS.append([questao, len(df), len(df.columns), query])

                                NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0                                    VIVER SEM LIMITE           0.00
1                                      SOS EMERGENCIA           0.00
2                                      MELHOR EM CASA           0.00
3                                                 UBS           0.00
4   UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...           0.00
5                                        REDE CEGONHA           0.00
6                                  CONTROLE DO CANCER           0.00
7                                  CONTROLE DO CANCER       38971.19
8                            CRACK, E POSSIVEL VENCER           0.00
9                                  BRASIL SEM MISERIA           0.00
10  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...           0.00
11                                       MAIS MEDICOS           0.00
12                                       MAIS MEDICOS       11000.00
13                                       MAIS MEDICOS        1000.00

In [332]:
for i in range(len(ANS)):
    ANS[i][-1] = ANS[i][-1].replace("\n","  ")

In [333]:
pd.DataFrame(data = ANS, columns = ["<questao>","<linhas>","<colunas>","<SQL>"]).to_csv("2019006752.csv", sep = "|")